@font-face {
  font-family: "ubunto";
  src: url("../public/assets/fonts/Ubuntu-Bold.ttf"),
  url("../public/assets/fonts/Ubuntu-Medium.ttf"),
  url("../public/assets/fonts/Ubuntu-Regular.ttf");

  }
button{
  all:unset;
}
*{
  font-family: 'ubunto';
  padding:0;
  margin:0;
  box-sizing: border-box;
}
.app{
  width: 100vw;
  height: 100vh;
  background-color: hsl(217, 100%, 97%);
  display: grid;
  place-items: center;
}

.formContainer{
  background-color: #ffffff;
  border-radius: 0.5rem;
  padding: 1rem;
  display: grid;
  grid-template-columns: max-content auto;
  gap: 5rem;
  width: 100%;
  max-width: 1000px;
}

aside{
  /* border:1px solid rgb(224, 42, 42); */
  border-radius: 0.5rem;
  width: max-content;
  position:relative
}
 #stepsContainer{
  width: 100%;
  padding-left: 1.8rem;
  padding-top: 2rem;
  position:absolute;
  top:0;
  left:0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap:2rem
}

.step{
  cursor: pointer;
  margin: auto;
  width: 100%;
  display: grid;
  grid-template-columns: max-content auto;
  gap:1rem;
  align-items: center;
  padding: 1px;
}
.active > .stepNum{
  background-color: #bee2fc;
  color:black;
  cursor: pointer;
}
.stepNum{
  height:2.1rem;
  width:2.1rem;
  border-radius: 50%;
  color:white;
  display: grid;
  border:1.5px solid #ffffff;
  background-color: transparent;
  
  place-items:center ;
}




.stepInfo > span{
  text-transform: uppercase;
  font-weight: 400;
  font-size: 10px;
  color:hsl(229, 24%, 87%)
}
.stepInfo > p{
  font-size: 16px;
  color:#ffffff;
  text-transform: uppercase;
 
}

section{
  /* border:2px solid black; */
  padding-top: 2rem;
  display:grid;
  grid-template-rows: max-content auto max-content;
}

#stepDesc{
  /* border:2px solid red; */
  padding-bottom: 1rem;
}

#stepDesc > h1{
  color:hsl(213, 96%, 18%);
  margin-bottom: 0.5rem;
}

#stepDesc > p{
  color:hsl(231, 11%, 63%);
  font-size:16px;
  font-weight: 400;
  font-family:Arial, Helvetica, sans-serif;
}

main{
  /* border:2px solid black; */
  padding: 2rem 0;
}

#btnsContainer{
  /* border:2px solid black; */
  height: max-content;
  padding:0 3rem;
  margin-bottom: 0.9rem;
  display: grid;
  grid-template-columns: max-content max-content;
  justify-content: space-between;
  align-items: center;
}

#nextBtn{
  
  font-family: Arial, Helvetica, sans-serif;
  grid-column: 2/3;
  color:white;
  background-color: hsl(213, 96%, 18%);
  padding:0.5rem 1rem;
  height: max-content;
  border-radius: 0.3rem;
  border:none;
  cursor:pointer;
}
#nextBtn:hover{
  opacity: 85%;
}
#goBackBtn{
  all:unset;
  grid-column: 1/2;
  color:hsl(231, 11%, 63%);
  cursor: pointer;
  padding:0.5rem 1rem;
  font-size: 14px;
}
#goBackBtn:hover{
  color:hsl(213, 96%, 18%);  
}

#formsContainer{
  padding: 0 3rem 0 0;
  display: grid;
  gap:2rem;
}

#infoForm{
  /* border:2px solid green; */
  color:hsl(213, 96%, 18%);
  display: grid;
  gap:2rem
}

.inputContainer{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  gap:0.5rem
}
label {
  font-weight: 700;
  font-size: smaller;
  font-family: Arial, Helvetica, sans-serif;
}
input {
  all:unset;
  grid-column: span 2 / span 2;
  padding:0.8rem;
  border:1px solid hsl(229, 24%, 87%);
  border-radius: 0.5rem;
  font-size: 14px;
  font-weight: 400;
}

input:focus{
  border-color: hsl(243, 100%, 62%);
}
/* input:valid  + label.errorLabel{
  opacity: 0;
}
input:invalid{
  border-color: hsl(354, 84%, 57%);
} */

.errorLabel{
  grid-column: 2/3;
  grid-row: 1/1;
  justify-self: end;
  /* color: hsl(354, 84%, 57%); */
  color:transparent;
}
.errorColor{
  color: hsl(354, 84%, 57%);
}
.errorInput{
  border-color: hsl(354, 84%, 57%);
}
.errorInput + label{
  color: hsl(354, 84%, 57%);
}
/* input:invalid{
  border-color: hsl(354, 84%, 57%);
} */
#offers{
  display: grid;
  gap:2.5rem;
  grid-template-columns: 1fr 1fr 1fr;
}
.offerContainer{
  border-radius: 0.3rem;
  border:1px solid hsl(231, 11%, 63%);
  padding: 1.5rem 1rem;
  display: grid;
  gap:2rem
}
.activeOffer{

  border:1px solid hsl(243, 100%, 62%);
  background-color: hsl(206, 94%, 87%);
}
.offerContainer > div{
  display: grid;
  gap:0.4rem;
}
.offerContainer > div > label{
  font-size: 14px;
  font-weight: 400;
  color:hsl(213, 96%, 18%);
}

.offerTitle{
  color:hsl(213, 96%, 18%);
}

.offerPlan{
  color:hsl(231, 11%, 63%);
  font-weight: 400;
  font-size: 14px;
}

#planSwitcher{
  padding: 0.8rem;
  background-color: hsl(217, 100%, 97%);
  display: grid;
  place-items: center;
  
}
#planSwitcher > div{
  display: grid;
  grid-template-columns: max-content max-content max-content;
  gap: 0.5rem;
}

#switch{
  border:1px solid black;
  height: max-content;
  padding:0.15rem;
  background-color: hsl(213, 96%, 18%);
  border-radius: 0.6rem;
  width: 30px;
  overflow: auto;
  
}
#switch-dot{
  background-color: white;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  transition: transform 300ms ease;
  
}

.isActive{
  color:hsl(213, 96%, 18%);
}

.isNotActive{
  color:hsl(231, 11%, 63%);
}

.hide{
opacity: 0;
}

.flotRight{
  transform: translateX(140%);
}

