@font-face {
  font-family: "ubunto";
  src: url("../public/assets/fonts/Ubuntu-Bold.ttf"),
  url("../public/assets/fonts/Ubuntu-Medium.ttf"),
  url("../public/assets/fonts/Ubuntu-Regular.ttf");

  }

*{
  font-family: 'ubunto';
  padding:0;
  margin:0;
  box-sizing: border-box;
}
.app{
  width: 100vw;
  height: 100vh;
  background-color: #eef5ff;
  display: grid;
  place-items: center;
}

.formContainer{
  background-color: #ffffff;
  border-radius: 0.5rem;
  padding: 1rem;
  display: grid;
  grid-template-columns: max-content auto;
 gap: 5rem;
}

aside{
  /* border:1px solid rgb(224, 42, 42); */
  border-radius: 0.5rem;
  width: max-content;
  position:relative
}
 #stepsContainer{
  width: 100%;
  padding-left: 1.8rem;
  padding-top: 2rem;
  position:absolute;
  top:0;
  left:0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap:2rem
}

.step{
  cursor: pointer;
  margin: auto;
  width: 100%;
  display: grid;
  grid-template-columns: max-content auto;
  gap:1rem;
  align-items: center;
  padding: 1px;
}
.step:hover > .stepNum{
  background-color: #bee2fc;
  color:black;
  cursor: pointer;
}
.stepNum{
  height:2.1rem;
  width:2.1rem;
  border-radius: 50%;
  color:white;
  display: grid;
  border:1.5px solid #ffffff;
  background-color: transparent;
  
  place-items:center ;
}




.stepInfo > span{
  text-transform: uppercase;
  font-weight: 400;
  font-size: 10px;
  color:hsl(229, 24%, 87%)
}
.stepInfo > p{
  font-size: 16px;
  color:#ffffff;
  text-transform: uppercase;
 
}

section{
  /* border:2px solid black; */
  padding-top: 2rem;
  display:grid;
  grid-template-rows: max-content auto max-content;
}

#stepDesc{
  /* border:2px solid red; */
  padding-bottom: 1rem;
}

#stepDesc > h1{
  color:hsl(213, 96%, 18%);
  margin-bottom: 0.5rem;
}

#stepDesc > p{
  color:hsl(231, 11%, 63%);
  font-size:16px;
  font-weight: 400;
  font-family:Arial, Helvetica, sans-serif;
}

main{
  border:2px solid black;
  
}

#btnsContainer{
  border:2px solid black;
  padding:0.3rem;
  display: grid;
  grid-template-columns: max-content max-content;
  justify-content: space-between;
  align-items: center;
}

#nextBtn{
  
  font-family: Arial, Helvetica, sans-serif;
  color:white;
  background-color: hsl(213, 96%, 18%);
  padding:0.5rem 1rem;
  height: max-content;
  border-radius: 0.3rem;
  border:none;
  cursor:pointer;
}
#nextBtn:hover{
  opacity: 85%;
}
#goBackBtn{
  all:unset;
  color:hsl(231, 11%, 63%);
  cursor: pointer;
  padding:1rem 0.8rem;
  font-size: 14px;
}
#goBackBtn:hover{
  color:hsl(213, 96%, 18%);
  
}